.btn-airbnb {
  background-color: #FF5A5F;
  color: white;
  padding: 16px 32px;
  border-radius: 4px;
}

.btn-airbnb:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.btn-medium {
  color: #03A87C;
  border: 1px solid #03A87C;
  padding: 16px 32px;
  border-radius: 4px;
}

.btn-medium:hover {
  color: #015b43;
  border: 1px solid #015b43;
}

