.card-category {
  height: 300px;
  color: white;
  text-shadow: 0 0 8px rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-product {
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img{
  height: 160px;
  margin-right: 16px;
}

.card-product h2 {
  margin: 0;
}

.card-product p {
  margin: 0;
}

.card-trip {
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin: 16px;
}

.card-trip img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: %50 %50;
}

.card-trip-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;
}

.card-trip-info h2 {
  margin: 0;
}

.card-trip-info p{
  margin: 0;
}
